<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--archiveAboveSize="524288000" 500MB分一个文件  maxArchiveFiles="30" 最多分30个文件-->
    <target name="log" xsi:type="File" fileName="${basedir}/Log/${shortdate}_log.txt" archiveAboveSize="524288000"/>
    <target name="debug" xsi:type="File" fileName="${basedir}/Log/${shortdate}_debug.txt" archiveAboveSize="524288000"/>
    <target name="trace" xsi:type="File" fileName="${basedir}/Log/${shortdate}_trace.txt" archiveAboveSize="524288000"/>
    <target name="exception" xsi:type="File" fileName="${basedir}/Log/${shortdate}_exception.txt" layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" archiveAboveSize="524288000" />
    <target name="system" xsi:type="File" fileName="${basedir}/Log/System.txt"></target>
  </targets>
  <rules>
    <logger name="system" level="Info" writeTo="system" />
    <logger name="*" level="Debug" writeTo="debug"/>
    <logger name="*" level="Trace" writeTo="trace"/>
    <logger name="*" level="Info" writeTo="log"/>
    <logger name="*" level="Error" writeTo="exception"/>
  </rules>
</nlog>
